@{
    ViewData["Title"] = "AddEdit";
    Layout = "~/Views/Shared/Modern/_Layout.cshtml";
}

<!-- Begin Page Header-->
<div class="row">
    <div class="page-header">
        <div class="d-flex align-items-center">
            <h2 class="page-header-title">Organisations</h2>
        </div>
    </div>
</div>
<!-- End Page Header -->
<!-- Begin Row -->
<div class="row flex-row">
    <div class="col-xl-4 col-md-6">
        <!-- Begin Widget 05 -->
        <div class="widget widget-05 has-shadow">
            <!-- Begin Widget Body -->
            <div class="widget-body no-padding hidden">
                <div class="author-avatar">
                    <span class="badge-pulse-green"></span>
                    <img src="~/assets/img/avatar/avatar-03.jpg" alt="..." class="img-fluid rounded-circle">
                </div>
                <div class="author-name">
                    Company A
                    <span>Company A Inc.</span>
                </div>
                <div class="social-stats">
                    <div class="row d-flex justify-content-between">
                        <div class="col-4 text-center">
                            <i class="la la-building branches"></i>
                            <div class="counter">+124</div>
                            <div class="heading">Branches</div>
                        </div>
                        <div class="col-4 text-center">
                            <i class="la la-institution units"></i>
                            <div class="counter">+357</div>
                            <div class="heading">Units</div>
                        </div>
                        <div class="col-4 text-center">
                            <i class="la la-group employees"></i>
                            <div class="counter">+985</div>
                            <div class="heading">Employees</div>
                        </div>
                    </div>
                </div>
                <div class="actions text-center">
                    <a href="@Url.Action("Index","Organisation")" class="btn btn-gradient-01">View Details</a>
                </div>
            </div>
            <!-- End Widget Body -->
        </div>
        <!-- End Widget 05 -->
    </div>
    <div class="col-xl-4 col-md-6">
        <!-- Begin Widget 05 -->
        <div class="widget widget-05 has-shadow">
            <!-- Begin Widget Body -->
            <div class="widget-body no-padding hidden">
                <div class="author-avatar">
                    <span class="badge-pulse-green"></span>
                    <img src="~/assets/img/avatar/avatar-03.jpg" alt="..." class="img-fluid rounded-circle">
                </div>
                <div class="author-name">
                    Company B
                    <span>Company B Inc.</span>
                </div>
                <div class="social-stats">
                    <div class="row d-flex justify-content-between">
                        <div class="col-4 text-center">
                            <i class="la la-building branches"></i>
                            <div class="counter">+16</div>
                            <div class="heading">Branches</div>
                        </div>
                        <div class="col-4 text-center">
                            <i class="la la-institution units"></i>
                            <div class="counter">+48</div>
                            <div class="heading">Units</div>
                        </div>
                        <div class="col-4 text-center">
                            <i class="la la-group employees"></i>
                            <div class="counter">+389</div>
                            <div class="heading">Employees</div>
                        </div>
                    </div>
                </div>
                <div class="actions text-center">
                    <a href="@Url.Action("Index","Organisation")" class="btn btn-gradient-01">View Details</a>
                </div>
            </div>
            <!-- End Widget Body -->
        </div>
        <!-- End Widget 05 -->
    </div>
    <div class="col-xl-4 col-md-6">
        <!-- Begin Widget 05 -->
        <div class="widget widget-05 has-shadow">
            <div style="background-color:#fff; opacity:0.5; z-index:1;">
                <!-- Begin Widget Body -->
                <div class="widget-body no-padding hidden">
                    <div class="author-avatar">
                        <span class="badge-pulse-green"></span>
                        <img src="~/assets/img/avatar/avatar-03.jpg" alt="..." class="img-fluid rounded-circle">
                    </div>
                    <div class="author-name">
                        New Organisation
                        <span>New Organisation Inc.</span>
                    </div>
                    <div class="social-stats">
                        <div class="row d-flex justify-content-between">
                            <div class="col-4 text-center">
                                <i class="la la-building branches"></i>
                                <div class="counter">0</div>
                                <div class="heading">Branches</div>
                            </div>
                            <div class="col-4 text-center">
                                <i class="la la-institution units"></i>
                                <div class="counter">0</div>
                                <div class="heading">Units</div>
                            </div>
                            <div class="col-4 text-center">
                                <i class="la la-group employees"></i>
                                <div class="counter">0</div>
                                <div class="heading">Employees</div>
                            </div>
                        </div>
                    </div>
                    <div class="actions text-center">
                        <a href="@Url.Action("AddEdit","Organisation")" class="btn btn-gradient-04">Add New Organisation</a>
                    </div>
                </div>
                <!-- End Widget Body -->
            </div>
            <!-- End Widget 05 -->
        </div>
    </div>
</div>
<!-- End Row -->
