<!-- Begin Page Header-->
<div class="row">
    <div class="page-header">
        <div class="d-flex align-items-center">
            <h2 class="page-header-title">Dashboard</h2>
        </div>
    </div>
</div>
<!-- End Page Header -->
<!-- Begin Row -->
<div class="row flex-row">
    <div class="col-xl-12 col-md-6">
        <!-- Begin Widget 09 -->
        <div class="widget widget-09 has-shadow">
            <!-- Begin Widget Header -->
            <div class="widget-header d-flex align-items-center">
                <h2>Delivered Orders</h2>
                <div class="widget-options">
                    <button type="button" class="btn btn-shadow">View all</button>
                </div>
            </div>
            <!-- End Widget Header -->
            <!-- Begin Widget Body -->
            <div class="widget-body">
                <div class="row">
                    <div class="col-xl-10 col-12 no-padding">
                        <div>
                            <canvas id="orders"></canvas>
                        </div>
                    </div>
                    <div class="col-xl-2 col-12 d-flex flex-column my-auto no-padding text-center">
                        <div class="new-orders">
                            <div class="title">New Orders</div>
                            <div class="circle-orders">
                                <div class="percent-orders"></div>
                            </div>
                        </div>
                        <div class="some-stats mt-5">
                            <div class="title">Total Delivered</div>
                            <div class="number text-blue">856</div>
                        </div>
                        <div class="some-stats mt-3">
                            <div class="title">Total Estimated</div>
                            <div class="number text-blue">297</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Widget 09 -->
    </div>

</div>
<!-- End Row -->

<div class="row flex-row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <!-- Begin Widget 05 -->
        <div class="widget widget-05 has-shadow">
            <!-- Begin Widget Header -->
            <div class="widget-header bordered d-flex align-items-center">
                <h2>Top Author</h2>
                <div class="widget-options">
                    <div class="dropdown">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                            <i class="la la-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">
                                <i class="la la-edit"></i>Edit Widget
                            </a>
                            <a href="#" class="dropdown-item faq">
                                <i class="la la-question-circle"></i>FAQ
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Widget Header -->
            <!-- Begin Widget Body -->
            <div class="widget-body no-padding hidden">
                <div class="author-avatar">
                    <span class="badge-pulse-green"></span>
                    <img src="~/Elisyam/assets/img/avatar/avatar-03.jpg" alt="..." class="img-fluid rounded-circle">
                </div>
                <div class="author-name">
                    Louis Henry
                    <span>Designer</span>
                </div>
                <div class="chart">
                    <div class="row no-margin justify-content-center">
                        <div class="col-12 col-xl-8 col-md-8 col-sm-8">
                            <div class="row no-margin align-items-center">
                                <!-- Begin Chart -->
                                <div class="col-9 no-padding">
                                    <div class="chart-graph">
                                        <div class="chart">
                                            <canvas id="sales-stats"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 no-padding text-center">
                                    <div class="chart-text">
                                        <span class="heading">Sales</span>
                                        <span class="number">364</span>
                                        <span class="cxg text-green">+35%</span>
                                    </div>
                                </div>
                                <!-- End Chart -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social-stats">
                    <div class="row d-flex justify-content-between">
                        <div class="col-4 text-center">
                            <i class="la la-users followers"></i>
                            <div class="counter">+124</div>
                            <div class="heading">Followers</div>
                        </div>
                        <div class="col-4 text-center">
                            <i class="la la-dribbble dribbble"></i>
                            <div class="counter">+357</div>
                            <div class="heading">Likes</div>
                        </div>
                        <div class="col-4 text-center">
                            <i class="la la-behance behance"></i>
                            <div class="counter">+98</div>
                            <div class="heading">Followers</div>
                        </div>
                    </div>
                </div>
                <div class="actions text-center">
                    <a href="pages-profile.html" class="btn btn-gradient-01">View Profile</a>
                </div>
            </div>
            <!-- End Widget Body -->
        </div>
        <!-- End Widget 05 -->
    </div>
    <div class="col-xl-6">
        <!-- Begin Widget 11 -->
        <div class="widget widget-11 has-shadow">
            <!-- Begin Widget Header -->
            <div class="widget-header bordered d-flex align-items-center">
                <h2>Activity Log</h2>
                <div class="widget-options">
                    <div class="dropdown">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                            <i class="la la-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">
                                <i class="la la-history"></i>History
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="la la-bell-slash"></i>Disable Alerts
                            </a>
                            <a href="#" class="dropdown-item">
                                <i class="la la-edit"></i>Edit Widget
                            </a>
                            <a href="#" class="dropdown-item faq">
                                <i class="la la-question-circle"></i>FAQ
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Widget Header -->
            <!-- Begin Widget Body -->
            <div class="widget-body p-0 widget-scroll" style="max-height:450px;">
                <!-- Begin 01 -->
                <div class="timeline violet">
                    <div class="timeline-content d-flex align-items-center">
                        <div class="user-image">
                            <img class="rounded-circle" src="~/Elisyam/assets/img/avatar/avatar-06.jpg" alt="...">
                        </div>
                        <div class="d-flex flex-column mr-auto">
                            <div class="title">
                                <span class="username">Beverly Oliver</span>
                                Send you a friend request
                            </div>
                            <div class="time">4 min ago</div>
                        </div>
                    </div>
                </div>
                <!-- End 01 -->
                <!-- Begin 02 -->
                <div class="timeline red">
                    <div class="timeline-content d-flex align-items-center">
                        <div class="timeline-icon">
                            <i class="la la-spinner"></i>
                        </div>
                        <div class="d-flex flex-column mr-auto">
                            <div class="title">
                                Server rebooted
                            </div>
                            <div class="time">10 min ago</div>
                        </div>
                    </div>
                </div>
                <!-- End 02 -->
                <!-- Begin 03 -->
                <div class="timeline violet">
                    <div class="timeline-content d-flex align-items-center">
                        <div class="user-image">
                            <img class="rounded-circle" src="~/Elisyam/assets/img/avatar/avatar-05.jpg" alt="...">
                        </div>
                        <div class="d-flex flex-column mr-auto">
                            <div class="title">
                                <span class="username">Megan Duncan</span>
                                Followed 4 people
                                <div class="users-like">
                                    <a href="profile.html">
                                        <img src="~/Elisyam/assets/img/avatar/avatar-01.jpg" class="img-fluid rounded-circle" alt="...">
                                    </a>
                                    <a href="profile.html">
                                        <img src="~/Elisyam/assets/img/avatar/avatar-02.jpg" class="img-fluid rounded-circle" alt="...">
                                    </a>
                                    <a href="profile.html">
                                        <img src="~/Elisyam/assets/img/avatar/avatar-07.jpg" class="img-fluid rounded-circle" alt="...">
                                    </a>
                                    <a href="profile.html">
                                        <img src="~/Elisyam/assets/img/avatar/avatar-09.jpg" class="img-fluid rounded-circle" alt="...">
                                    </a>
                                </div>
                            </div>
                            <div class="time">12 min ago</div>
                        </div>
                    </div>
                </div>
                <!-- End 03 -->
                <!-- Begin 04 -->
                <div class="timeline blue">
                    <div class="timeline-content d-flex align-items-center">
                        <div class="timeline-icon">
                            <i class="la la-heart-o"></i>
                        </div>
                        <div class="d-flex flex-column mr-auto">
                            <div class="title">
                                <span class="username">Brandon Smith</span>
                                Liked <span class="font-weight-bold"><a href="#">Elisyam Admin Template</a></span>
                            </div>
                            <div class="time">30 min ago</div>
                        </div>
                    </div>
                </div>
                <!-- End 04 -->
                <!-- Begin 05 -->
                <div class="timeline violet">
                    <div class="timeline-content d-flex align-items-center">
                        <div class="timeline-icon">
                            <i class="la la-twitter"></i>
                        </div>
                        <div class="d-flex flex-column mr-auto">
                            <div class="title">
                                + 3 new followers
                                <div class="users-like">
                                    <a href="profile.html">
                                        <img src="~/Elisyam/assets/img/avatar/avatar-09.jpg" class="img-fluid rounded-circle" alt="...">
                                    </a>
                                    <a href="profile.html">
                                        <img src="~/Elisyam/assets/img/avatar/avatar-06.jpg" class="img-fluid rounded-circle" alt="...">
                                    </a>
                                    <a href="profile.html">
                                        <img src="~/Elisyam/assets/img/avatar/avatar-03.jpg" class="img-fluid rounded-circle" alt="...">
                                    </a>
                                </div>
                            </div>
                            <div class="time">34 min ago</div>
                        </div>
                    </div>
                </div>
                <!-- End 05 -->
                <!-- Begin 06 -->
                <div class="timeline violet">
                    <div class="timeline-content d-flex align-items-center">
                        <div class="user-image">
                            <img class="rounded-circle" src="~/Elisyam/assets/img/avatar/avatar-04.jpg" alt="...">
                        </div>
                        <div class="d-flex flex-column mr-auto">
                            <div class="title">
                                <span class="username">Nathan Hunter</span>
                                Invited you in a group
                            </div>
                            <div class="time">42 min ago</div>
                        </div>
                    </div>
                </div>
                <!-- End 06 -->
                <!-- Begin 06 -->
                <div class="timeline violet">
                    <div class="timeline-content d-flex align-items-center">
                        <div class="user-image">
                            <img class="rounded-circle" src="~/Elisyam/assets/img/avatar/avatar-03.jpg" alt="...">
                        </div>
                        <div class="d-flex flex-column mr-auto">
                            <div class="title">
                                <span class="username">Louis Henry</span>
                                Is now following you
                            </div>
                            <div class="time">50 min ago</div>
                        </div>
                    </div>
                </div>
                <!-- End 06 -->
                <!-- Begin 07 -->
                <div class="timeline blue">
                    <div class="timeline-content d-flex align-items-center">
                        <div class="timeline-icon">
                            <i class="la la-image"></i>
                        </div>
                        <div class="d-flex flex-column mr-auto">
                            <div class="title">
                                <span class="username">Brandon Smith</span>
                                Uploaded <span class="font-weight-bold"><a href="#">8 photos</a></span>
                            </div>
                            <div class="time">1 hour ago</div>
                        </div>
                    </div>
                </div>
                <!-- End 07 -->
            </div>
            <!-- End Widget Body -->
        </div>
        <!-- End Widget 11 -->
    </div>
</div>
<!-- End Row -->
<!-- Begin Vendor Js -->
<script src="~/Elisyam/assets/vendors/js/base/jquery.min.js"></script>
<script src="~/Elisyam/assets/vendors/js/base/core.min.js"></script>
<!-- End Vendor Js -->
<!-- Begin Page Vendor Js -->
<script src="~/Elisyam/assets/vendors/js/nicescroll/nicescroll.min.js"></script>
<script src="~/Elisyam/assets/vendors/js/chart/chart.min.js"></script>
<script src="~/Elisyam/assets/vendors/js/progress/circle-progress.min.js"></script>
<script src="~/Elisyam/assets/vendors/js/calendar/moment.min.js"></script>
<script src="~/Elisyam/assets/vendors/js/calendar/fullcalendar.min.js"></script>
<script src="~/Elisyam/assets/vendors/js/owl-carousel/owl.carousel.min.js"></script>
<script src="~/Elisyam/assets/vendors/js/app/app.js"></script>
<!-- End Page Vendor Js -->
<!-- Begin Page Snippets -->
<script src="~/Elisyam/assets/js/dashboard/db-default.js"></script>
<!-- End Page Snippets -->
