
@{
    ViewData["Title"] = "_Index";
    Layout = "~/Views/Shared/Default/_Layout.cshtml";
}

<link rel="stylesheet" href="~/assets/css/datatables/datatables.min.css">
<!-- Begin Page Header-->
<div class="row">
    <div class="page-header">
        <div class="d-flex align-items-center">
            <h2 class="page-header-title">Applications</h2>
        </div>
    </div>
</div>
<!-- End Page Header -->
<!-- Begin Row -->

<div class="row">
    <div class="col-xl-4">
        <div class="widget widget-23 bg-gradient-01 d-flex justify-content-center align-items-center">
            <div class="widget-body text-center">
                <i class="la la-money"></i>
                <div class="title">Accounting</div>
                <div class="text-center mt-3 mb-3">
                    <a class="btn btn-outline-light" href="@Url.Action("Accounting","Dashboard")">
                        Open
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="widget widget-23 bg-gradient-02 d-flex justify-content-center align-items-center">
            <div class="widget-body text-center">
                <i class="la la-users"></i>
                <div class="title">Human Resources</div>
                <div class="text-center mt-3 mb-3">
                    <a class="btn btn-outline-light" href="@Url.Action("HumanResources","Dashboard")">
                        Open
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="widget widget-23 bg-gradient-03 d-flex justify-content-center align-items-center">
            <div class="widget-body text-center">
                <i class="la la-barcode"></i>
                <div class="title">Inventory</div>
                <div class="text-center mt-3 mb-3">
                    <a class="btn btn-outline-light" href="@Url.Action("Inventory","Dashboard")">
                        Open
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="widget widget-23 bg-gradient-04 d-flex justify-content-center align-items-center">
            <div class="widget-body text-center">
                <i class="la la-file-archive-o"></i>
                <div class="title">Invoicing</div>
                <div class="text-center mt-3 mb-3">
                    <a class="btn btn-outline-light" href="@Url.Action("Invoicing","Dashboard")">
                        Open
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="widget widget-23 bg-gradient-05 d-flex justify-content-center align-items-center">
            <div class="widget-body text-center">
                <i class="la la-camera"></i>
                <div class="title">Monitoring Camera</div>
                <div class="text-center mt-3 mb-3">
                    <a class="btn btn-outline-light" href="#">
                        Buy
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="widget widget-23 bg-green d-flex justify-content-center align-items-center">
            <div class="widget-body text-center">
                <i class="la la-car"></i>
                <div class="title">Vehicle Tracking</div>
                <div class="text-center mt-3 mb-3">
                    <a class="btn btn-outline-light" href="#">
                        Buy
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Begin Vendor Js -->
<script src="~/assets/vendors/js/base/jquery.min.js"></script>
<script src="~/assets/vendors/js/base/core.min.js"></script>
<!-- End Vendor Js -->
<!-- Begin Page Vendor Js -->
<script src="~/assets/vendors/js/nicescroll/nicescroll.min.js"></script>
<script src="~/assets/vendors/js/owl-carousel/owl.carousel.min.js"></script>

<script src="~/assets/vendors/js/app/app.js"></script>
<!-- End Page Vendor Js -->