@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Modern/_Layout.cshtml";
}

<!-- Begin Page Header-->
<div class="row">
    <div class="page-header">
        <div class="d-flex align-items-center">
            <h2 class="page-header-title">Organisations</h2>
        </div>
    </div>
</div>
<!-- End Page Header -->
<!-- Begin Row -->
<div class="row flex-row">
    <div class="col-xl-3 col-md-4 col-sm-6 col-remove">
        <div class="widget-image has-shadow">
            <div class="group-card">
                <div class="widget-body">
                    <div class="quick-actions">
                        <div class="dropdown">
                            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                                <i class="la la-circle-o-notch"></i>
                            </button>
                            <div class="dropdown-menu" style="display: none;">
                                <a href="#" class="dropdown-item remove">
                                    <i class="la la-trash"></i>Delete
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="la la-edit"></i>Edit
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="cover-image mx-auto">
                        <img src="~/Elisyam/assets/img/group/01.jpg" alt="..." class="rounded-circle mx-auto">
                    </div>
                    <h4 class="name"><a href="#">Company 1</a></h4>
                    <div class="category">Company 1 Tech. Inc.</div>

                    <div class="text-center mt-5 pb-3">
                        <a href="@Url.Action("Index","Organisation")" class="btn btn-gradient-01">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 col-remove">
        <div class="widget-image has-shadow">
            <div class="group-card">
                <div class="widget-body">
                    <div class="quick-actions">
                        <div class="dropdown">
                            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                                <i class="la la-circle-o-notch"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a href="#" class="dropdown-item remove">
                                    <i class="la la-trash"></i>Delete
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="la la-edit"></i>Edit
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="cover-image mx-auto">
                        <img src="~/Elisyam/assets/img/group/02.jpg" alt="..." class="rounded-circle mx-auto">
                    </div>
                    <h4 class="name"><a href="#">Company 2</a></h4>
                    <div class="category">Company 2 Com. Inc.</div>
                    <div class="text-center mt-5 pb-3">
                        <a href="@Url.Action("Index","Organisation")" class="btn btn-gradient-01">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-4 col-sm-6 col-remove">
        <div class="widget-image has-shadow">
            <div style="background-color:#fff; opacity:0.25; z-index:1;">
                <div class="group-card">
                    <div class="widget-body">
                        <div class="cover-image mx-auto">
                            <img src="~/Elisyam/assets/img/group/03.jpg" alt="..." class="rounded-circle mx-auto">
                        </div>
                        <h4 class="name"><a href="#">New Company</a></h4>
                        <div class="category">New Company Title</div>
                        <div class="text-center mt-5 pb-3">
                            <a href="@Url.Action("Create","Organisation")" class="btn btn-gradient-04">Add New Organisation</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->
