@model CountryUpdateModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

@section Styles {
    <!-- DATA TABLES -->
    <link href="~/AdminLTE/css/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h4>
        Edit country
        <!-- <small>Control panel</small> -->
    </h4>
    <a asp-action="Index" asp-controller="Country" asp-area="">
        <i class="fa fa-arrow-circle-left"></i> back to country list
    </a>
    <ol class="breadcrumb">
        <li><a asp-action="Index" asp-controller="Home" asp-area=""><i class="fa fa-dashboard"></i> Home </a></li>
        <li class="active">
            Countries
        </li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <form asp-area="" asp-controller="Country" asp-action="Edit" method="post" id="country-form">
        <input asp-for="Country.Id" type="hidden" />
        <!-- buttons row -->
        <div class="row pad">
            <div class="pull-right">
                <div class="col-xs-12">
                    <button type="submit" name="save" class="btn bg-blue"> <i class="fa fa-save"></i>  Save</button>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title"> Country </h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group form-inline">
                            <div class="row">
                                <div class="col-md-3 text-right">
                                    <label for="code">Name</label>
                                </div>
                                <div class="col-md-7 text-left">
                                    <input asp-for="Country.Name" type="text" class="form-control" id="name" placeholder="Enter name">
                                    <span asp-validation-for="Country.Name"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <div class="row">
                                <div class="col-md-3 text-right">
                                    <label for="code">Code</label>
                                </div>
                                <div class="col-md-7 text-left">
                                    <input asp-for="Country.Code" type="text" class="form-control" id="code" placeholder="Enter code">
                                    <span asp-validation-for="Country.Code"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <div class="row">
                                <div class="col-md-3 text-right">
                                    <label>
                                        Is active?
                                    </label>
                                </div>
                                <div class="col-md-7 text-left">
                                    <input asp-for="Country.IsActive" type="checkbox" />
                                    <span asp-validation-for="Country.IsActive"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box -->
            </div>
        </div> <!-- /.row -->
    </form>

    <!-- Datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"> Country's cities</h3>
                </div>
                <div class="box-body table-responsive">
                    <table id="cityList" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>City name</th>
                                <th>City code</th>
                                <th>Is active?</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ankara</td>
                                <td>06</td>
                                <td><i class="fa fa-check true-icon"></i></td>
                                <td>
                                    <a asp-action="Edit" asp-controller="City" asp-area="" class="btn btn-default"><i class="fa fa-edit"></i>Edit</a>
                                </td>
                            </tr>
                            <tr>
                                <td>İstanbul</td>
                                <td>34</td>
                                <td><i class="fa fa-check true-icon"></i></td>
                                <td>
                                    <a asp-action="Edit" asp-controller="City" asp-area="" class="btn btn-default"><i class="fa fa-edit"></i>Edit</a>
                                </td>
                            </tr>
                            <tr>
                                <td>İzmir</td>
                                <td>35</td>
                                <td><i class="fa fa-check true-icon"></i></td>
                                <td>
                                    <a asp-action="Edit" asp-controller="City" asp-area="" class="btn btn-default"><i class="fa fa-edit"></i>Edit</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <a asp-action="Create" asp-controller="City" asp-area="" class="btn bg-blue">
                        <i class="fa fa-plus-square"></i>
                        Add new city
                    </a>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>
</section><!-- /.content -->

@section Scripts
    {
    <!-- DATA TABES SCRIPT -->
    <script src="~/AdminLTE/js/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
    <script src="~/AdminLTE/js/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>

    <!-- page script -->
    <script type="text/javascript">
        $(function () {
            $("#cityList").dataTable();
        });
    </script>
}