
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

@section Styles {
    <!-- DATA TABLES -->
    <link href="~/AdminLTE/css/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Countries
        <!-- <small>Control panel</small> -->
    </h1>
    <ol class="breadcrumb">
        <li><a asp-area="" asp-controller="Home"><i class="fa fa-dashboard"></i> Home </a></li>
        <li class="active">Countries</li>
    </ol>

</section>

<!-- Main content -->
<section class="content">

    <!-- buttons row -->
    <div class="row pad">
        <div class="pull-right">
            <div class="col-xs-12">
                <a asp-action="Create" asp-controller="Country" asp-area="" class="btn bg-blue">
                    <i class="fa fa-plus-square"></i>
                    Add new country
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body table-responsive">
                    <table id="orderList" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Is active?</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Turkey</td>
                                <td>90</td>
                                <td><i class="fa fa-check true-icon"></i></td>
                                <td>
                                    <a asp-action="Edit" asp-controller="Country" asp-area="" class="btn btn-default">
                                        <i class="fa fa-edit"></i>
                                        Edit
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Japan</td>
                                <td>56</td>
                                <td><i class="fa fa-check true-icon"></i></td>
                                <td>
                                    <a asp-action="Edit" asp-controller="Country" asp-area="" class="btn btn-default">
                                        <i class="fa fa-edit"></i>
                                        Edit
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>

</section><!-- /.content -->

@section Scripts
    {
    <!-- DATA TABES SCRIPT -->
    <script src="~/AdminLTE/js/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
    <script src="~/AdminLTE/js/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>

    <!-- page script -->
    <script type="text/javascript">
        $(function () {
            $("#orderList").dataTable(
                {
                    "bLengthChange": false
                });
        });
    </script>
}

