<nav class="side-navbar box-scroll sidebar-scroll">
    <!-- Begin Main Navigation -->
    <ul class="list-unstyled">
        <li class="active">
            <a href="#dropdown-db" aria-expanded="false" data-toggle="collapse"><i class="la la-columns"></i><span>Dashboard</span></a>
            <ul id="dropdown-db" class="collapse list-unstyled pt-0">
                <li><a class="active" href="@Url.Action("Index","Home")">User Reports</a></li>
            </ul>
        </li>
    </ul>
    <span class="heading">System</span>
    <ul class="list-unstyled">
        <li>
            <a href="#dropdown-authentication" aria-expanded="false" data-toggle="collapse"><i class="la la-user"></i><span>Authentication</span></a>
            <ul id="dropdown-authentication" class="collapse list-unstyled pt-0">
                <li><a href="@Url.Action("Index","User")">Users</a></li>
                <li><a href="#">Roles</a></li>
                <li><a href="#">Authorities</a></li>
            </ul>
        </li>
    </ul>
    <!-- End Main Navigation -->
</nav>